@import "tailwindcss";

body {
  @apply bg-[#0f0f0f] text-white;
  font-family: 'Inter', sans-serif;
  background-image: radial-gradient(circle at top left, #1a1a1a 0%, #0f0f0f 100%);
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}